<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet"
            class="org.nader.sennet.SennetPackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/enums"
            class="org.nader.sennet.enums.EnumsPackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/tls"
            class="org.nader.sennet.toplevelstructure.ToplevelstructurePackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/nd"
            class="org.nader.sennet.node.NodePackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/sn"
            class="org.nader.sennet.sensors.SensorsPackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/net"
            class="org.nader.sennet.network.NetworkPackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/jb"
            class="org.nader.sennet.job.JobPackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/jb/jt"
            class="org.nader.sennet.job.jobtrigger.JobtriggerPackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SenNet -->
      <package
            uri="http://www.nader.org/sennet/jb/ja"
            class="org.nader.sennet.job.jobaction.JobactionPackage"
            genModel="model/SenNet.genmodel"/>
   </extension>

</plugin>
